<style type="text/css">.greeting-section {margin: 20px 0 0 20px;}</style>

<div class="greeting-section">
  <span [text-content]="greeting"></span>,
  <span [text-content]="name" red></span>!
</div>

<div class="greeting-section">
  <input #yourname type="text" placeholder="Enter your name"
         (keyup)="changeName(yourname.value)">
</div>

<div class="greeting-section">
  <button (click)="toggleGreeting()">{{btnLabel}}</button>
</div>

<div class="greeting-section">
  <foo-bar [first-name]="'Jagdish!'"></foo-bar>
</div>
